<form action="">
    <div>
        <label for="name">name</label>
        <input type="text" id="name">
    </div>
    <div>
        <label for="name">name</label>
        <input type="text" id="name">
    </div>
    <div>
        <label for="name">name</label>
        <input type="text" id="name">
    </div>
    <div>
        <label for="name">name</label>
        <input type="text" id="name">
    </div>
    <div>
        <label for="name">name</label>
        <input type="text" id="name">
    </div>
   
</form>