<div class="title-profil">
    <div class="head-profil">
        <p>Teacher</p>
    </div>
  </div>
  <div class="route-profil">
    <p>Home <span> > Profil </span></p>
  </div>
  <div class="container">
    <div class="profil-box">
        <div class="edit">
            <i class="fas fa-edit"></i>
            <ul class="dropdown">
              <li><a routerLink="/edit-teacher"> <p>
                <span class="logo1"><i class="fas fa-user-edit"></i></span
                >Edit
              </p></a>
        
              </li>
              <li>
                <p>
                  <span class="logo2"
                    ><i class="far fa-times-circle"></i></span
                  >Close
                </p>
              </li>
              <li>
                <p>
                  <span class="logo3"><i class="fas fa-redo"></i></span
                  >Refresh
                </p>
              </li>
            </ul>
          </div>
        <div class="profil">
            <div class="header-bio">
                <div class="photo"><img src="assets/icon/person.jpg" alt=""></div>
                <div class="name">
                    <p>Bane</p>
                </div>
            </div>
            <div class="data-bio">
                <div class="name-con">
                    <div class="title">
                        <p>Name :</p>
                    </div>
                    <div class="title2">
                        <p>Bane</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Gender :</p>
                    </div>
                    <div class="title2">
                        <p>Female</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Father Name :</p>
                    </div>
                    <div class="title2">
                        <p>Jhone</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Mother Name :</p>
                    </div>
                    <div class="title2">
                        <p>Monica</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Religion :</p>
                    </div>
                    <div class="title2">
                        <p>Islam</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>E-mail :</p>
                    </div>
                    <div class="title2">
                        <p>Bane@gmail.com</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Subject :</p>
                    </div>
                    <div class="title2">
                        <p>English,Match</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>ID :</p>
                    </div>
                    <div class="title2">
                        <p>0112</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Address :</p>
                    </div>
                    <div class="title2">
                        <p>Jakarta</p>
                    </div>
                </div>
                <div class="name-con">
                    <div class="title">
                        <p>Phone :</p>
                    </div>
                    <div class="title2">
                        <p>08129292818</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>